[Desktop Entry]
Encoding=UTF-8
Version=1.5.0
Type=Application
Terminal=false
Name=Multimedia Visualizer
Exec=/usr/bin/MultimediaVisualizer
Icon=/usr/share/MultimediaVisualizer/icon/MultimediaVisualizer.svg
Categories=Qt;Multimedia;
X-Window-Icon=
X-Osso-Type=application/x-executable
